body{
    margin: 0 auto;
    padding:0;
    background: #f8f8ee;
}
.panel{
    background-color: #337ab7;
    width:100%;
}
.row{
    margin: 0 auto;
}
.hr-line{
    border-top:1px solid #1fb27e;
    margin:10px 0;
    width: 100%;
    animation: hr-line 10s linear 2s infinite alternate;
}
@keyframes hr-line {
    0%{
        border-top:1px solid #1fb27e;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    50%{
        border-top:1px solid #d7df3e;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    100%{
        border-top:1px solid #088ec3;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 400px;
    background: #5cb85c url("../images/bg-boy.jpg") center no-repeat ;
    overflow: hidden;
    position: relative;
}
.title-msg{
    position: absolute;
    bottom: 0;
    left: 38%;
    text-align: center;
}
.title-msg h3{
    display: block;
    float: left;
    color: #c1fdc06b;
}
.title-msg>span{
    display: block;
    float: right;
    color: #f3fdc080;
}
.content{
    margin: 5px 20px 5px 40px;
    overflow: hidden;
}
.content .article-icon{
    margin: 10px;
    padding-left:10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;;
}
.content .article-icon img:hover{
    animation: article-icon-img 3s ease 0.5s infinite alternate;
}
@keyframes article-icon-img {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        -o-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
.content .article-icon .img-mark{
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    opacity: 0.7;
    background: #eee;
    border-radius: 10px;
    text-align: center;
}
.content .article-icon .img-mark:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content .article-icon .img-mark p{
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    text-wrap: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}
.content .article-icon .img-mark a{
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 20px;
    text-align: center;
    line-height:40px;
    text-decoration: none;
    width:100%;
    height: 40px;
    background: #337ab7;
    color: #fff ;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    animation: img-mark-a 4s linear infinite alternate;
    animation-delay: 1s;
}
@keyframes img-mark-a {
    0% {
        opacity: 0.7;
        border-radius: 10px;
        background: #337ab7;
    }
    50%{
        opacity: 1;
        border-radius: 25px;
        background: #068E82;
    }
    100% {
        opacity: 0.9;
        border-radius: 10px;
        background: #337ab7
    }
}
.content .article-title-icon{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
}
.content .article-title-icon .title-icon{
    display: inline-block;
}
.content .article-title-icon .tab-link{
    display: inline-block;
}
.content .article-title-icon .tab-link a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.content .article-title{
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #dff0d8;

}
.content .article-title:hover{
    -webkit-animation: animation2 0.8s linear infinite;
    -o-animation: animation2 0.8s linear infinite;
    animation: animation2 0.8s linear infinite;
}
@keyframes animation2 {
    0%{
        background: #dff0d8;
    }
    100%{
        background: #1fb27e;
    }
}
.content .article-title a{
height: 60px;
line-height: 60px;
text-decoration: none;
overflow: hidden;
color: #101010;
text-overflow: ellipsis;
}
.content .article-title a:hover{
    -webkit-animation: article-title-a-hover 0.8s linear  infinite;
    -o-animation: article-title-a-hover 0.8s linear  infinite;
    animation: article-title-a-hover 0.8s linear  infinite;
}
@keyframes article-title-a-hover {
    0%{
        color: #101010;
    }
    100%{
        color: #fff;
    }
}
.content .article-title a p{
    text-align: left;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本*/
    /*word-break: break-all;  !* 自动换行规则  允许在单词内换行*!*/
    /*word-wrap: break-word; !* 打断单词换行*!*/
    /*border:1px solid #000000*/
}

.content .sample-reels{
    margin-top: 10px;
    color: #fff;
    background: #eee;
}
.content .sample-reels .sample-reels-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.content .sample-reels .sample-reels-link i{
    display: inline-block;
    text-align: center;
    margin-top:10px;
    line-height:20px;
}
.content .sample-reels .sample-reels-link .img-warp{
    margin-top: 10px;
    box-shadow:10px -10px 10px #eee ;    /*box-shadow: h-shadow v-shadow blur spread color inset*/
}

.content .personal-msg{
    margin-top: 10px;
    background: #f9f9f9;
}
.content .personal-msg .personal-img{
    margin-top: 10px;
}
.content .personal-content{
    text-overflow: ellipsis;
    margin-top: 10px;
}

